
{% extends 'layoutAdmin.html.twig' %}

{% block stylesheet %}{% endblock %}

{% block title %}
    Admin FAQ
{% endblock %}

{% block content %}
    <div class="container  question">
        <div class="row justify-content-center">
            <h1>Administration des FAQs</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col-1">ID</th>
                        <th scope="col-4">Question</th>
                        <th scope="col-5">Réponse</th>
                        <th scope="col-1">Editer</th>
                        <th scope="col-1">Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for faq in faqs %}

                        <tr>
                            <th scope="row">{{ faq.id }}</th>
                            <td>{{ faq.question_name }}</td>
                            <td>{{ faq.answer_name }}</td>
                            <td><a href="/faq/edit/{{ faq.id }}">Editer</a></td>
                            <td><a href="/faq/delete/{{faq.id}}">Supprimer</a></td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascript %}
{% endblock %}