{% extends 'layout.html.twig' %}

{% block title %}Tarifs{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/prices.css">{% endblock %}

{% block content %}
        <h2 class="tarifs">Tarifs</h2>
        <div class="row">
            {% for price in prices %}
                <div class="col-4">
                    <table class="table table-striped">
                        <thead>
                        <tr  class="text-center tarifsTHead">
                            <th scope="col" class="tableTitle">{{ price.name | upper}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="tableLight">Prix journée : {{ price.price }} &euro;</td>
                        </tr>
                        <tr>
                            <td class="tableDark">Période : {{ price.period }}</td>
                        </tr>
                        <tr>
                            <td class="tableLight">{% if price.included_meal == 1 %}
                                    Goûter inclus
                                {% else %}
                                    Goûter non inclus
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="tableDark">
                                {% if price.start_date is not empty %}
                                    Du {{ price.start_date }} au {{ price.end_date }}
                                {% else %}
                                    Tous les {{ price.name | lower }}s
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
{% endblock %}
