{% extends 'layout.html.twig' %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/stage.css">{% endblock %}
{% block content %}
    <section class="stage container-fluid justify-content-center">
        <h1 class="text-center display-2">Nos Stages</h1>
        <ul class="row justify-content-center nav nav-tabs">
            {% for stage in stages %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#stage{{ stage.id }}">{{ stage.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <div id="myTabContent" class="tab-content jumbotron">
            {% for stage in stages %}
                <div class="tab-pane fade {{ loop.first  ? 'active show' }}" id="stage{{ stage.id }}">
                    <div class="row justify-content-center">
                        <div class="card">
                            <div class="card-body ">
                                <img src="/assets/images/stages/{{ stage.img_src }}" height="400px"
                                     alt="{{ stage.alt_attribute }}">
                            </div>
                        </div>
                        <div class="col-6">
                             <h4 class=" col-8 "><i class="fas fa-calendar-alt"></i><span class="space">Date de debut
                                     le {{ stage.start_date }} à {{ stage.start_time }}</span></h4>
                    <h4 class=" col-8"><i class="fas fa-calendar-alt"></i><span class="space">Date de fin
                            le {{ stage.end_date }} à {{ stage.end_time }}</span></h4>
                            <h4><i class="fas fa-basketball-ball"></i><span class="space">Activités proposées:</span></h4>
                            <p><span class="space">{{ stage.description }}</span></p>
                            <div class="row justify-content-center mt-5">
                            <a href="/Prices/tarif"><button type="button" class="btn btn-lg">Tarifs</button></a>
                            </div>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
