{% extends 'layout.html.twig' %}

{% block content %}
    <section>
        <div class="row">
            {% for place in places %}
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ place.place_image1 }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ place.place_name }}</h5>
                        <p class="card-text">{{ place.description }}</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#id{{ place.id }}">
                            Plus d'informations
                        </button>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="id{{ place.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">{{ place.place_name }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row justify-content-center">
                                        <div class="col-6">
                                            <img class="card-img-top" src="{{ place.place_image1 }}" alt="Card image cap">
                                        </div>
                                        <div class="col-6">
                                            {{ place.description }}
                                        </div>
                                        <div class="col-6">
                                            <p>{{ place.number ~ " " ~ place.street }}</p>
                                            <p>{{ place.postalcode ~ " " ~ place.city }}</p>
                                        </div>
                                        <div class="col-6">
                                            <p>API</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
