{% extends 'layout.html.twig' %}
{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">

            <h1 class="brand text-center"><span>Contact</span></h1>

            {% if mailSent is not empty %}
                <div class="mailSent">{{ mailSent }}</div>
            {% endif %}
            {% if mailNotSent is not empty %}
                <div class="mailNotSent">{{ mailNotSent }}</div>
            {% endif %}

            <div class="wrapper">

                <div class="company-info">
                    <h3>Planète Mini Basket</h3>

                    <ul>
                        <li><i class="fa fa-road"></i> 9 rue Henri Lavedan</li>
                        <li><i class="fa fa-phone"></i> (33) 238968473</li>
                        <li><i class="fa fa-envelope"></i> contact@planete-mini-basket.fr</li>
                    </ul>
                </div>

                <div class="contact">
                    <h3>Contactez-Nous !</h3>

                    <form id="contact-form" method="post" action="" novalidate>

                        <div class="full">
                            <label for="lastName">Nom :</label>
                            {% if errors.lastName is defined %}
                        <p class="formErrors">{{ errors.lastName }}</p>
                        {% endif %}
                            <input placeholder="Entrez votre Nom" type="text" name="lastName" class="form-control" id="lastName" value="{{ values.lastName }}" required>
                        </div>

                        <div class="full">
                            <label for="firstName">Prénom :</label>
                            {% if errors.firstName is defined %}
                        <p class="formErrors">{{ errors.firstName }}</p>
                        {% endif %}
                            <input placeholder="Entrez votre Prénom" type="text" name="firstName" class="form-control" id="firstName" value="{{ values.firstName }}" required>
                        </div>

                        <div class="full">
                            <label for="email">E-mail :</label>
                            {% if errors.email is defined %}
                            <p class="formErrors">{{ errors.email }}</p>
                        {% endif %}
                            <input placeholder="contact@exemple.fr" type="email" name="email" class="form-control" id="email" value="{{ values.email }}" required>
                        </div>


                        <div class="full">
                            <label for="message">Message :</label>
                            {% if errors.message is defined %}
                            <p class="formErrors">{{ errors.message }}</p>
                        {% endif %}
                            <textarea placeholder="Ecrivez-nous quelques lignes..." class="form-control" id="message" name="message" rows="10" required{{ values.message }}></textarea>
                        </div>

                        <div class="full">
                            <button type="submit">Envoyez</button>
                        </div>

                    </form>

                </div>


            </div>

        </div>
    </div>

{% endblock %}