{% extends 'layout.html.twig' %}

{% block title %} Présentation {% endblock %}

{% block content %}
    <h1 class="presentationH1">Présentation</h1>


    <section id="presentation">
        <h2>Locaux</h2>
        <div class="row">
            {% for place in places %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card presentationCard">
                        <img class="card-img-top presentationCardImg" src="/assets/images/{{ place.place_image1 }}"
                             alt="Card image cap">
                        <div class="card-body presentationCardBody">
                            <h5 class="card-title">{{ place.place_name }}</h5>
                            <p class="card-text presentationCardTxt">{{ place.description }}</p>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#id{{ place.id }}">
                                Plus d'informations
                            </button>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="id{{ place.id }}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content presentationModal">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">{{ place.place_name }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="col-12 col-md-6">
                                                <img class="card-img-top" src="{{ place.place_image1 }}"
                                                     alt="Card image cap">
                                            </div>
                                            <div class="col-12 col-md-6">
                                                {{ place.description }}
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <p>{{ place.number ~ " " ~ place.street }}</p>
                                                <p>{{ place.postalcode ~ " " ~ place.city }}</p>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <iframe class="mapIframe"
                                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2674.7199083191276!2d1.9210928513412344!3d47.90310627533898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e4e4b5aed2d39b%3A0x3d03b03031cbf16f!2s9+Rue+Henri+Lavedan%2C+45000+Orl%C3%A9ans!5e0!3m2!1sfr!2sfr!4v1556271319680!5m2!1sfr!2sfr"
                                                        frameborder="0" style="border:0" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <h2 class="presentationH2">Qui-sommes-nous ?</h2>
        <div class="row">
            <div class="col-10">
                <p class="presentation">{{ presentation[0]['who_are_we'] }}</p>
            </div>
            <div class="col-2">
                <img src="{{ presentation[0]['img_presentation'] }}">
            </div>
        </div>

        <h2 class="presentationH2">Un peu d'histoire</h2>
        <div class="row">
            <div class="col-2">
                <img src="{{ history[0]['img_history'] }}">
            </div>
            <div class="col-10">
                <p class="presentation">{{ history[0]['history'] }}</p>
            </div>
        </div>

        <h2 class="presentationH2">Planète mini-basket, qu'est-ce que c'est ?</h2>
        <div class="row">
            <div class="col-10">
                <p class="presentation">{{ whatIsIt[0]['what_is_it'] }}</p>
            </div>
            <div class="col-2">
                <img src="{{ whatIsIt[0]['img_what_is_it'] }}">
            </div>
        </div>

    </section>

{% endblock %}
